$section: #09262e;
$outline: #35545b;
$text: #bcafa7;
$highlight: #9c4c3c;

div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: $text;
}

button {
    width: 150px;
    background-color: $text;
    color: $highlight;
    border: 5px solid $outline;
    border-radius: 15px;
    box-shadow: -3px 2px 3px 3px $section;
    font-size: 15px;
    font-weight: bolder;
    margin: 10px;
}

input {
    width: 400px;
    background-color: $text;
    color: $highlight;
    border: 5px solid $outline;
    border-radius: 15px;
    box-shadow: -3px 2px 3px 3px $section inset;
    height: 20px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    &:focus {
        outline: 2px solid $highlight;
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

em {
    color: $highlight;
    font-style: italic;
    font-weight: bolder;
}
